<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>手记-慕课网</title>
    <style type="text/css">
        .container {
            width: 600px;
            height: 500px;
            margin: 0 auto;
        }

        header {
            background: aqua;
        }

        article {
            background: azure;
            height: 500px;
        }

        footer {
            background-color: coral;
        }
    </style>
</head>
<body>
<div class="container">
    <header>
        页面头部[用户登录信息]
    </header>
    <article>
        <aside class="left">
            左侧内容区域--手记
        </aside>
        <aside class="right">
            右侧内容区域-- 手记
            <p> 课程推荐 </p>
        </aside>
    </article>
    <footer>页面底部</footer>
</div>
</body>
</html>