<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>表单知识点回顾</title>
</head>
<body>
<form action ='/index' method="post" enctype="multipart/form-data"></form><!--表单标普 -->
<ol>

  <li>
    用户名：
    <input type="text" placeholder="请输入名字"
  </li>
   <li>
    密码：
    <input type="password" placeholder="请输入密码">
  </li>
     <li>
    性别：
    <input type="radio" value="男">男
       <input type="radio" value="女">女
  </li>
 <li>
    用户地址：
    <textarea name="" id="" cols="30" rows="10" placeholder="请输入地址"></textarea>
  </li>
  <li>
    爱好
    <input id="id-play-ball" type="checkbox" vbalue="打球">
    <label for="id-play-ball" >打球</label>
    <input id="id-play-swiming" type="checkbox" vbalue="游泳">
    <label for="id-play-swiming" >游泳</label>
  </li>
</ol>
</body>
</html>